/* Reset CSS  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: "Fugaz One", sans-serif; */

* {margin:0; padding:0; border:0; outline:0; vertical-align:top; -webkit-text-size-adjust:none;}
html{font-size: 18px;}
body{
    font-family:'Roboto', sans-serif;
    color:#333;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    display:block;}
ul, ol, dl{
    list-style:none;}
img, video{
    border:0;
    vertical-align:top;}
a{display: block;
    text-decoration:none;
}
table{
    border-collapse:collapse;
    border-spacing:0;}
input, select{
    vertical-align:middle;}
label{
    cursor:pointer;}
.blind,legend,hr,caption{
    display:block; overflow:hidden;
    position:absolute; top:0; left:-1000rem;}
i,em,address {
    font-style:normal;
    font-weight:normal;}
p,li,dd{
    line-height:1.5rem;}
.hidden, #skipNav{
    display: block;
    position: absolute;
    left:-1000%; top:0; width: 1px; height: 1px;
    overflow: hidden; color: #fff;}

h1{font-size: 2rem;}
h2{font-size: 1.95rem;}
h3{font-size: 1.7rem;}
h4{font-size: 1.65rem; letter-spacing: .12rem;}
h5{font-size: 1.3rem;}

/* 상단 배경 처리 */

/* 헤더 공통 영역 */
#wrap{width:100%; overflow: hidden;}
#headerArea{
    position:fixed;
    z-index: 30;
    height: 150px;
    /* backdrop-filter: blur(15px); */
    /* background: rgb(27, 67, 99); */
    left:0; top: 0;
    width: 100%;
    transition: .2s ease-out;
}	
#headerArea	.headerInner{
    width: 90%; margin: 0 5%;
    overflow: hidden;}
#headerArea h1{
    float: left;
    margin-top: 15px;}
#headerArea h1 a{
    color: #fff;
    text-decoration: none;}
#headerArea h1 a img{
    width: 220px;
    /* margin-top: 5px; */
}
#headerArea #gnb{
    float: right;
    margin-top: 25px;}
#headerArea #gnb ul{
    overflow: hidden;
    text-align: center;}
#headerArea #gnb ul li{
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 35px;}
#headerArea #gnb ul li img{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;}
#headerArea #gnb ul li a{
    font-family: "Fugaz One", sans-serif;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;}

/* 푸터 공통 영역 */
#footerArea{
    position: relative;
    width: 100%;
    height:100px;
    background:#195f89 ;
}
#footerArea::before{content: '';width: 100%; height: 1500px; display: block;
    background: url(../images/footer_back.svg) no-repeat center bottom;
    background-size: 100% auto;position: absolute; left:0; bottom:100px}

/* 일반 pc */
@media screen and (max-width:1280px) {
	
}

/* 테블릿 */
@media screen and (max-width:1024px) {
	
}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
	
}

/* 모바일 */
@media screen and (max-width:640px) {
	
}

/* 최소 사이즈 처리 */
@media screen and (max-width:480px) {
	#wrap { min-width:320px; }
}
