/* 글로벌 네트워크의 실제 본문 내용 css */

#content .content_area h3{
    font-size: 2.75rem;
    text-align: center;
    display: block;
} 
#content .content_area h3 span{
    display: block;
    font-size: 1.39rem;
    color: #007AC3;
    font-weight: 200;
}
#content .content_area p{
    font-size: 1.3rem;
    text-align: center;
    position: relative;
    font-weight: 400;
    padding: 50px 0 75px 0;
}
#content .content_area .global_map>img{
    width: 1200px;
    margin-bottom: 50px;
}

#content .global_nav ul{
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    justify-content: center;

}
#content .global_nav li{
    border-radius: 8px;
    border: 1.5px solid #007AC3;
    background: #F3F3F3;
    color: #007AC3;
    font-weight: 500;
}
#content .global_nav li:hover{
    color:#fff ;
    background: #007AC3;
}
#content .global_nav li a{
    color: #007AC3;
    padding: 5px 15px;
}
#content .global_nav li a:hover{
    color:#fff;
}

#content .content_area .nation_name{
    overflow: hidden; margin: 100px 0; position: relative;
    padding-bottom: 50px;
}
#content .content_area .nation_name h4{
    display: block;
    text-align: left;
    overflow: hidden; float: left;position: relative;
    font-size: 2rem;
}
#content .content_area .nation_name h4 span{
    display: block; font-size: 1.39rem;
    color: #007AC3; font-weight: 200;
    text-transform: uppercase;
}
#content .content_area .nation_name>img{
    position: absolute; left: 0; top: 95px;
}
#content .content_area .nation_name div{
    width: 900px; float: right; overflow: hidden;
}
#content .content_area .nation_name dl{
    overflow: hidden; padding-bottom: 10px;
}
#content .content_area .nation_name dt{
    width: 140px; display: block;
    text-align: left; float: left;
    font-size: 1.11rem; font-weight: 800;
}
#content .content_area .nation_name dt>img{
    padding: 10px;
}
#content .content_area .nation_name dd{
    width: 730px; float: right;
    margin-left: 20px;
}
#content .content_area .nation_name dd strong{
    font-weight: 500;
}