/* 서브 이미지 영역 */
.sub_visual>span::before{
    content: 'Business KOLON GLOBAL';
    display: block; position: absolute;
    width: 100%; top: -15px; text-align: center;
    font-size: 1rem; font-weight: 200;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, .3);}

/* 중간 메뉴 */
.sub_nav li{
    width: 33.333%;
    float: left;}

/* ---------- 본문 영역 ---------- */
/* ---------- Sub2_1 ---------- */
