#content .content_area{
    width: 100%;
    margin: 0 auto;
    position: relative;
}

/* 사업영역 - 건설 본문 내용 css */

#content h3{
    font-size: 2.75rem;
    text-align: center;
    display: block;
    margin: 0 0 50px 0;
} 

#content h3{
    font-size: 2.75rem;
    text-align: center;
    display: block;
    margin: 0 0 50px 0;
    position: relative;
} 

#content h3::after{
    content: "CONTSRUCTION";
    position: absolute;
    top: 75px;
    transform: translateX(-50%);
    left: 50%;
    font-size: 1.39rem;
    color: #007AC3;
    font-weight: 200;
    width: 100%;
    height: 100%;
    text-align: center;
}


#content h4{
    font-size: 2.3rem;
    text-align: center;
    display: block;
    position: relative;
    margin-bottom: 20px;
}

#content .content_area h4::after{
    content: "";
    position: absolute;
    top: 60px;
    transform: translateX(-50%);
    left: 50%;
    font-size: 1.19rem;
    color: #007AC3;
    font-weight: 200;
    width: 100%;
    height: 100%;
    text-align: center;
}


#content .civil_work h4::after{
    content: "CIVIL WORK";
}

#content .soc h4::after{
    content: "SOC";
}

#content .architecture h4::after{
    content: "ARCHITECTURE";
}

#content .housing h4::after{
    content: "HOUSING";
}

#content .environment h4::after{
    content: "HOUSING";
}

#content .plants h4::after{
    content: "PLANTS";
}



#content .tab_menu_all ul{
    display: flex;
    gap: 20px;
    margin: 120px auto 50px auto;
    justify-content: center;
}
#content .tab_menu_all li a{
    border-radius: 8px;
    border: 1.5px solid #007AC3;
    background: #F3F3F3;
    color: #007AC3;
    font-weight: 500;
    padding: 5px 15px;
    width: 80px;
    text-align: center;
}
#content .tab_menu_all li a:hover{
    color:#fff ;
    background: #007AC3;
}
#content .tab_menu_all li a{
    color: #007AC3;
}
#content .tab_menu_all li a:hover{
    color:#fff;
}

#content .content_area .text_area_1{
    font-size: 1.3rem;
    text-align:center;
    position: relative;
    font-weight: 400;
    padding: 20px 0 0 0;
    width: 1200px;
    margin: 30px auto 0px auto;
}


#content .content_area .text_area_2{
    font-size: 1rem;
    font-weight: 400;
    width: 1200px;
    text-align: justify;
    margin: 50px auto;
}

#content .housing .text_area_2{
    text-align: center;
}

#content .housing .text_area_2>p{
    text-align: justify;
    margin-top: 50px;
}

/* 회색배경 */

#content .content_area .odd_area{
    background: #D9D9D9;
    width: 100%;
    padding: 80px 0px;
    margin: 0 auto;

}

#content .content_area .odd_area>ul{
    display: flex;
    gap: 100px;
    justify-content: center;
    /* overflow: hidden;
    width: 1200px;
    margin: 0 auto; */
}

/* #content .content_area_1 .odd_area>ul .text{
    float: right;
}  
#content .content_area_1 .odd_area>ul .img{
    float: left;
}    */

#content .content_area .even_area>ul{
    display: flex;
    justify-content: center;
    gap: 100px;
}

#content .content_area .odd_area>ul .list{
    margin-left: 100px;
}

#content .content_area .even_area>ul .list{
    margin-left: 100px;
}



#content .content_area .even_area{
    background: #fff;
    padding: 80px 0px;
    margin: 0 auto;
    width: 100%;
}

#content .content_area h5{
    font-size: 1.3rem;
    color: #007AC3;
    font-weight: 600;
    margin: 20px 0 30px 0;
    position: relative;
}

#content .content_area .odd_area h5{
    text-align: left;
}

#content .content_area .even_area h5{
    text-align: right;
}

#content .content_area .odd_area h5::before{
    content: "";
    position: absolute;
    width: 630px;
    border: 2px solid #007AC3;
    left: -100px;
    bottom: -10px;
}

#content .content_area .even_area h5::before{
    content: "";
    position: absolute;
    width: 630px;
    border: 2px solid #007AC3;
    right: -100px;
    bottom: -10px;
}

#content .content_area dl dt{
    font-weight: 700;
    float: left;
    width: 80px;
    margin-right: 25px;
    text-align:justify;
    /* border: 1px solid red; */
}

#content .content_area .text_area_2 .arc_1{
    display: flex;
    gap: 20px;
    margin-bottom : 50px;
}

#content .content_area .text_area_2 .arc_2{
    gap: 20px;
    display: flex;
}
